.city{
    color: #368BCA;
    font-size: 3.5em;
    line-height: 1em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.card-title, .card-text{
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
    line-height: 1em;
}

.minmax{
    font-size: small;
    -webkit-text-stroke-width: 0;
    color: white;
}

.single-card{
    width: 20vw;
    min-height: 140px;
    background-size: cover;
}

.single-card:hover{
    transform:scale(1.08);
}

@media screen and (max-width: 637px){
    .city{
        text-align: center;
        margin:auto;
    }

    .cards{
        justify-content: center;
    }
    
    .single-card{
        width: 300px;
        min-height: 100px;
        max-height:100px;
      }

    .wimg{
        width: 60px;
    }

    .card-text{
        line-height: 0.8;
    }


    

    

    

    

    

    

    

} 