.split{
  margin-top: 2em;

}

.city{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3.7em;
}


.container, .sideContainer{
  border: 2px solid white;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.473);
}

@media screen and (max-width: 376px) {

  .split{
    margin: 0;
  }

  .topSearch{
    justify-content: center;
  }

  .container{
    width: 100vw !important;
    height: 100vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 0;
    text-align: center;
  }

  .sideContainer{
    display: none;
  }

  .grafico{
    display: none;
  }

  .city{
    font-size: 2em;
    margin: 0;
  }


  
  


}