.split{
  margin-top: 2em;
}

.container, .sideContainer{
  border: 2px solid white;
  border-radius: 25px;
}

/* body{
  display: flex;
  justify-content: left;
}

.split{
  display: flex;

}

.topSearch{
  display: flex;
  margin-left: 30px;
  align-items: baseline;
}

.container{
  border: 2px solid white;
  
  
  opacity: 80%;
  background-color: rgba(0, 0, 0, 0.591);
  padding-bottom: 1em;
  width: 60vw;
}

.input{
  height: 3em;
  width: 20em;
  margin-right: 1em;
  margin-top: 2em;
  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.866);
}

button{
  height: 3em;
  width: 5em;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  background-color: #368BCA;
}

.orario{
  margin-left: 2em;
  color: white;
  font-size: 1.2em;
}

.sun-card{
  border:2px solid white;
  border-radius: 15px;
  background-image:linear-gradient(180deg, #368BCA 0%, rgb(227, 234, 255) 100%);
  width: auto;
  height: 80px;
  margin: 0.5em;
}

.grafico{
  text-align: center;
}

.sideContainer{
  text-align: center;
}

.immagine{
  margin-right: 1em;
}

 */
@media screen and (max-width: 376px) {

  .split{
    margin: 0;
  }

  .topSearch{
    justify-content: center;
  }

  .container{
    width: 100vw;
    height: 80vh;
    border: none;
    text-align: center;
  }

  .sideContainer{
    display: none;
  }

  .grafico{
    display: none;
  }

  .city{
    font-size: 2em;
  }


  
  


}