.split{
  margin-top: 2em;
}

.container, .sideContainer{
  border: 2px solid white;
  border-radius: 25px;
}

@media screen and (max-width: 376px) {

  .split{
    margin: 0;
  }

  .topSearch{
    justify-content: center;
  }

  .container{
    width: 100vw;
    height: 80vh;
    border: none;
    text-align: center;
  }

  .sideContainer{
    display: none;
  }

  .grafico{
    display: none;
  }

  .city{
    font-size: 2em;
  }


  
  


}